@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Licorice";
    src: url("../assets/fonts/Licorice-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lobster";
    src: url("../assets/fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


