@import "./fonts.css";

body
{
    background-image: url('../assets/images/watercolor.png');
    font-family: Open Sans;
	font-size:20px;
}

/*table*/

table 
{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

table th, table td 
{
    border: 1px solid #f7c8e4;
    text-align: center;
}

table th
{
    color: #e397bd;
}

/*kafelki*/
    
.tile
{
    margin: 10px;
    display: flex;
    width: 200px;
    height: 180px;
    text-align: center;
    float: left;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px 2px rgba(53, 50, 28, 0.74)
}


#categories
{
    background-color: #dda0c5;
}
#categories:hover
{
    background-color:#eeb1d6;
}
#authors
{
    background-color: #fcd6da;
}
#authors:hover
{
    background-color:#fde7eb;
}
#publishers
{
    background-color: #e75897;
}
#publishers:hover
{
    background-color:#f869a8;
}
#workers
{
    background-color: #e71473;
}

#workers:hover
{
    background-color:#f82584;
}

#readers
{
    background-color: #dda0c5;
}
#readers:hover
{
    background-color:#eeb1d6;
}
#logout
{
    background-color: #fcd6da;
}
#logout:hover
{
    background-color:#fde7eb;
}
#books
{
    background-color: #e75897;
}
#books:hover
{
    background-color:#f869a8;
}
#settings
{
    background-color: #e71473;
}

#settings:hover
{
    background-color:#f82584;
}

/*form*/

#formContainer 
{
    background-color: #fbd1d5;
    width: 170px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    box-shadow: 10px 10px 15px 2px rgb(53 50 28 / 74%);
}

#category,
#publisher,
#authorFirstname,
#authorLastname
{
    font-family: open sans;
    font-style: normal;
    width: 170px;
    background-color: #f5bfc4;
    text-align: center;
    color: #d14e81;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 2px solid #f590b7;
    outline: none;
}

#submit
{
    width: 170px;
    background-color: #d14e81;
    font-size: 20px;
    color: #ffffff;
    padding: 15px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px
}

#submit:hover
{
    background-color: #e25f92 !important ;
}

/*links*/

a:-webkit-any-link {
    color: unset;
    cursor: pointer;
    text-decoration: none;
}

a#pinkHref
{
    color:#e91d86 ;
}

/*others*/

#container
{
    clear:both;
	margin-top: 100px;
	width: 440px;
    margin-left: auto;
    margin-right: auto;
} 

#borrowsTable
{
    margin-top: 100px;
	width: 770px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}




i.icon-plus
{
    color: #f30c59 !important;
}


.button
{
    font-family: Lobster;
    color: #e54f9a !important;
    font-size: 30px;
    background-color: #f9d7ec80;
    width: 160px;
    border-radius: 10px;
    border: solid 0.5px;
    padding-bottom: 10px;
    float:left;
}
.button.right{
    float: right;
}
